

.form {
    height: 400px;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    position: absolute;
    margin: auto 60%;
}

.btn_login{
    margin: 20px auto;
}

.img_login{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

.a_login{
    font-size: 12px;
    margin-left: 50px;
    text-decoration: none;
    color: #888888;
}

.login{
    background-color: #4BB8D0;
}

.loginImg{
    margin-left: 20%;
    margin-top: 17%;
}