/*user*/

.paper {
    width: 1000px;
    height: 800px;
    margin-top: 20px;
    display: inline-block;
}

.paper_header {
    margin-top: 5px;
}
.paper_header p{
    display: inline-block;
    margin-left: 20px;
}
.paper_header .p_select {
    margin-left: 5px;
    display: inline-block;
}

.paper_header .search_text {
    display: inline-block;
    width: 50px;
    margin: 0 20px;
}

.paper_header .p_btn {
    margin-left: 150px;
}

.table {
    margin: 20px;
}

.inline{
    display: inline-block;
}

.ml10{
    margin-left: 10px;
}
.mt5{
    margin-top: 5px;
}
.ml30{
    margin-left: 30px;
}
.pt10{
    padding-top: 10px;
}