body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #4BB8D0;
}
.inline{
  display: inline-block !important;
}

.ml10{
  margin-left: 10px !important;
}
.mt5{
  margin-top: 5px !important;
}
.ml30{
  margin-left: 30px !important;
}
.ml100{
  margin-left: 100px !important;
}
.pt10{
  padding-top: 10px !important;
}
.w100{
  width: 100px !important;
}

.mt30{
  margin-top: 30px !important;
}