body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
.inline{
  display: inline-block !important;
}
.relative{
  position: relative !important;
}
.left{
  float: left;
}
.ml10{
  margin-left: 10px !important;
}
.mt5{
  margin-top: 5px !important;
}
.mt10{
  margin-top: 10px !important;
}
.ml30{
  margin-left: 30px !important;
}
.ml100{
  margin-left: 100px !important;
}
.pt10{
  padding-top: 10px !important;
}
.w100{
  width: 100px !important;
}
.w100s{
  width: 100% !important;
}

.h800{
  height: 800px !important;
}

.mt30{
  margin-top: 30px !important;
}

.blue{
  background-color: #4BB8D0 !important;
}

.grey{
  background-color: #EAE9E9 !important;
}

.hidden{
  overflow: hidden;
}